:root{
    --primary-bg-color: #D32F2F;
    --accent-color: #FF5252;
    --h1-color: #F44336;
    --text-color: #FFFFFF;
}

body{
    text-align: center;
    background-color: var(--primary-bg-color);
}

h1{
    background-color: var(--h1-color);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: solid;
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-color);
    font-size: x-large;
}

a:hover{
    background-color: var(--text-color);
    color: var(--accent-color)
}

td {
  padding: 30px;
}

table,
tr,
td {
  margin: 2px auto;
  width: 50%;
}