body {
  text-align: center;
  background-color: darkred;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: powderblue;
}

header,
nav {
  margin: 10px auto;
  padding: 10px;
  border: 10px;
  background-color: crimson;
}

nav a {
  text-decoration: solid;
  color: chocolate;
  margin: 20px;
  padding: 20px;
  border: 5px solid darkgreen;
  background-color: rgb(182, 207, 56);
  border-radius: 10px;
}

a:hover {
  border: 5px solid rgb(0, 160, 0);
  background-color: rgb(213, 243, 65);
  color: azure;
}

td {
  padding: 30px;
}

table,
tr,
td {
  margin: 2px auto;
  width: 20%;
}

h2 {
  font-size: large;
  background-color: yellow;
  color: black;
  border: 5px solid rgb(248, 178, 0);
}

b {
  color: azure;
}
p {
  border: 3px solid salmon;
}
